* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #28a745;
	height: 100vh;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.title {
	min-width: 100vw;
	color: rgba(255,255,255,0.9);
	text-align: center;
	font-family: 'Kalam', sans-serif;
}

h1 {
	transition-property: font-size;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	font-size: 11vw;
}

h1:hover {
	font-size: 13vw;
}
